---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Problem from '../components/Problem.astro';
import Features from '../components/Features.astro';
import Pricing from '../components/Pricing.astro';
import Contact from '../components/Contact.astro';
import Portfolio from '../components/Portfolio.astro';
import InfoPersuade from '../components/InfoPersuade.astro';
const whatsappNumber = import.meta.env.PUBLIC_WHATSAPP_NUMBER;
---

<Layout title="YourBusinessWeb | Diseño de Landing Pages y Páginas Web en Chile"
  description="Creamos sitios web ultra-rápidos, autoadministrables y optimizados para Google. Potencia tu PYME con landing pages de alto impacto. ¡Cotiza tu proyecto hoy!"
  image="https://images.unsplash.com/photo-1460925895917-afdab827c52f?auto=format&fit=crop&q=80&w=800">
    <Navbar />
    <main>
        <Hero />
        <Problem />
        <Features />
        <Portfolio />
        <Pricing />
        <InfoPersuade />
        <Contact />
    </main>
    <a href={`https://wa.me/${whatsappNumber}`} class="fixed bottom-5 right-5 bg-[#25d366] w-[60px] h-[60px] rounded-full flex items-center justify-center text-[30px] text-white shadow-lg z-[1000]" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-whatsapp"></i>
    </a>
    <footer class="py-12 bg-slate-950 border-t border-slate-800 text-center text-slate-600 text-sm">
        <p>&copy; 2026 YourBusinessWeb Chile.</p>
    </footer>
</Layout>

<!-- Seleccionador de plan -->
 <script is:inline>
  // Usamos un pequeño delay para asegurar que el DOM cargó bien
  document.addEventListener('DOMContentLoaded', () => {
    const planButtons = document.querySelectorAll('.plan-btn');
    const planSelect = document.getElementById('plan-select');

    planButtons.forEach(button => {
      button.addEventListener('click', () => {
        const seleccionado = button.getAttribute('data-plan');
        
        if (planSelect && seleccionado) {
          planSelect.value = seleccionado;
          
          // Efecto visual: Resaltar el select brevemente
          planSelect.style.borderColor = '#22d3ee'; // Color cyan-400
          setTimeout(() => {
            planSelect.style.borderColor = '#334155'; // Color slate-700
          }, 1500);
        }
      });
    });
  });
</script>